frontend/node_modules/
frontend/dist/
frontend/coverage/
frontend/.DS_Store
frontend/*.log
frontend/**.pid
frontend/.env*
frontend/package-lock.json

# Root virtual environment
venv/
.venv/
docs/

# Backend uploaded files
backend/static/uploads/*
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/**.pid
backend/**.log


.trae/

